
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>newPost</h1>
    <%= form_for @post do |f| %>
      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :content %><br>
        <%= f.text_field :content %>
      </div>
        <%= f.submit %>
    <% end %>


  </body>
</html>
